* {
    font-family: 'Inconsolata', monospace;
    color: #555;
}
body {
    background-color: #3fb399;
}
.container {
    width: 470px;
    background-color: white;
    margin: 150px auto;
}
table {
    width: 100%;
    border-color: #f4f4f4;
}
td {
    width: 30%;
}
button {
    width: 100%;
    height: 70px;
    font-size: 24px;
    background-color: white;
    border: none;
}
#num1 {
    height: 50px;
    font-size: 40px;
    vertical-align: bottom;
    text-align: right;
    padding-right: 10px;
    background-color: #ececec;
}
#num2 {
    height: 50px;
    font-size: 40px;
    vertical-align: bottom;
    text-align: right;
    padding-right: 10px;
    background-color: #ececec;
}
#answer {
    height: 1px;
    font-size: 30px;
    text-align: right;
    padding-right: 10px;
    background-color: #ececec;
}